@import "https://fonts.googleapis.com/css2?family=Lobster&display=swap";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "base/variables";
@import "base/listas";
@import "base/mixins";


/* Para celulares:*/
* {
    margin: $medidas, 1;
    padding: $medidas, 1;
}

body{
    overflow-x: hidden;
}

h2 {
    @include padding-general(nth($medidas, 4) nth($medidas, 4) nth($medidas, 2) nth($medidas, 8));
}


h3 {

    padding-bottom: nth($medidas, 5);
}

.datos {
    padding-top: nth($medidas, 6);
    line-height: 30px;
}

h4 {
    @include padding-general(nth($medidas, 1) nth($medidas, 7) nth($medidas, 3) nth($medidas, 7));
}


.mt-0 {
    margin-top: nth($medidas, 5) !important;
}

.ml-0 {
    @include margen-izquierdo(nth($medidas, 4));
}

.ml-1 {
    @include margen-izquierdo(nth($medidas, 5));
}

.ml-2 {
    @include margen-izquierdo(nth($medidas, 2));
}

@media only screen and (max-width: 768px) {
    .ml-1 {
        margin-bottom: nth($medidas, 4) !important;
    }
}