@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.menu-container {
    background-color: #fcf7f4;

}

header img {
    max-width: 10%;
    margin-left: 40%;

}

header img:hover {
    transition: all 2s;
    max-width: 13%;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 150%;


}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0% 3% 3% 6%;

}

nav ul li a:hover {
    font-size: 170%;
    color: #a3c2c9;
    transition: all 2s;

}


ul li {
    list-style-type: none;

}

main {
    background-color: #fcf7f4;
    font-family: 'Lobster', cursive;

}

.fondo {
    background-image: url("Imagenes/Sobre mi/ImagenFondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3% 30% 3% 20%;
}

h2 {
    padding: 3% 3% 1% 36%;
}

.videos {
    display: flex;
    justify-content: space-around;
}

h3 {
    padding-bottom: 5%;
}

.datos {
    padding-top: 10%;
    line-height: 30px;
}

.contactoconsultorio {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;

}

.autocontrol {
    width: 70%;
    padding: 0% 30% 2% 15%;


}

.autocontrol:hover {
    filter: sepia(50%);
    transform:scale(1.1);
    transition: all 2s;

}


h4 {
    padding: 0% 30% 2% 30%;
}

.autocontrolparrafo {
    padding: 0% 30% 2% 30%;
}



.Redes {
    width: 10%;
}

footer div ul {
    display: flex;
    list-style-type: none;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 2%;

}

footer {
    background-color: #fcf7f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 100%;


}

.mapa {
    width: 100%;
    height: 100%;
}