@import "../base/listas";
@import "../base/variables";

.menu-container {
    background-color: $color-principal;

    img {
        max-width: 30%;
        margin-left: 10%;
    }
}

.navbar {
    width: 100%;
    background-color: $color-principal;
    overflow: auto;

    a {
        float: left;
        padding: 12px;
        color: black;
        font-family: 'Lobster', cursive;
        text-decoration: none;
        font-size: 150%;

        &:hover {
            font-size: 170%;
            color: $color-hover;
        }

    }

}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}