@import "../base/listas";
@import "../base/variables";
@import "../base/mixins";
@import "../base/extends";

main {
    background-color: $color-principal;
    font-family: 'Lobster', cursive;
    
    .fondo {
        background-image: url("../Imagenes/Sobre_mi/ImagenFondo.jpg");
        @extend %imagen;
        @include padding-general(nth($medidas, 6) nth($medidas, 7) nth($medidas, 6) nth($medidas, 9));

        p {
            font-size: 1.2rem;
        }
    }

}

.autocontrol {
    &:hover {
        filter: opacity(.5);
        transform: scale(1.08);
        transition: all 2s;
    }
}

.mapa {
    width: 100%;
    height: 100%;
}